language: java
dist: trusty
sudo: false

os:
- linux
- osx

jdk:
- openjdk9
- openjdk10

matrix:
  fast_finish: true
  include:
  - os: linux
    jdk: openjdk8
  allow_failures:
  - jdk: openjdk11
  - jdk: openjdk-ea
  - jdk: oraclejdk-ea

before_install:
- unset _JAVA_OPTIONS

script:
- cd backend
- mvn clean install spring-boot:repackage
