<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="author" content="bmstefanski">
  <link rel="icon" href="/images/favicon.png">

  <title>Log In</title>

  <link href="/webjars/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/login.css" rel="stylesheet">
  <link href="/css/font-awesome.css" rel="stylesheet">
  <link href="/css/bootstrap-social.css" rel="stylesheet">
</head>

<body>
<form class="form-signin" th:action="@{/login}" method="post">
  <div class="text-center mb-4">
    <img class="mb-4" src="/images/favicon.png" alt="">
  </div>

  <p th:if="${isFail}" style="color: red">The login details are incorrect</p>
  <div class="form-label-group">
    <input type="text" name="username" id="username" class="form-control" placeholder="Login"
           required
           autofocus>
    <label for="username">Login</label>
  </div>

  <div class="form-label-group">
    <input type="password" name="password" id="password" class="form-control" placeholder="Password"
           required>
    <label for="password">Password</label>
  </div>
  <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
  <div sec:authorize="!isAuthenticated()">
    <button class="btn btn-lg btn-primary btn-block" type="submit">
      Sign in
    </button>
    <a th:href="@{/oauth2/authorization/facebook}" class="btn btn-block btn-social btn-facebook">
      <span class="fa fa-facebook"></span> Sign in with Facebook
    </a>
    <a th:href="@{/oauth2/authorization/google}" class="btn btn-block btn-social btn-google">
      <span class="fa fa-google"></span> Sign in with Google
    </a>
    <a th:href="@{/oauth2/authorization/github}" class="btn btn-block btn-social btn-github">
      <span class="fa fa-github"></span> Sign in with Github
    </a>
  </div>

  <button sec:authorize="isAuthenticated()" class="btn btn-lg btn-primary btn-block" type="submit"
          disabled>
    Sign in
  </button>
  <p class="mt-5 mb-3 text-muted text-center">&copy; 2017-2018</p>
</form>
</body>
</html>
