<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="author" content="bmstefanski">
  <link rel="icon" href="/images/favicon.png">
  <title>Home</title>
  <link href="/webjars/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/home.css" rel="stylesheet">
</head>
<body class="text-center">
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto">
    <div class="inner">
      <h3 class="masthead-brand">Spring OAuth Example</h3>
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link active" href="home.html" th:href="@{/home}">Home</a>
        <a sec:authorize="!isAuthenticated()" class="nav-link" href="login.html" th:href="@{/login}">Login</a>
        <a sec:authorize="isAuthenticated()" class="nav-link" href="home.html" th:href="@{/logout}">Logout</a>
      </nav>
    </div>
  </header>
  <main role="main" class="inner cover">
    <div sec:authorize="isAuthenticated()">
      <h1 class="cover-heading">Welcome <span sec:authentication="name"></span></h1>
    </div>
    <div sec:authorize="!isAuthenticated()">
      <h1 class="cover-heading">You are not logged in!</h1>
      <p class="lead">
        <a href="" th:href="@{/login}" class="btn btn-lg btn-secondary">Log In</a>
      </p>
    </div>
  </main>
  <footer class="mastfoot mt-auto">
    <div class="inner">
      <p>Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
    </div>
  </footer>
</div>
</body>
</html>